.box {
    background-image: url(../../../public/logo192.png);
    width: 100%;
}
.box-button {
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    .home-btn {
        width: 100%;
        margin: 0px 20px;
        .home-btn-text {
            font-size: 25px;
            margin-top: 10px;
        }
    }
}   